extends: google
env:
  node: true
parserOptions:
  ecmaVersion: 6
  sourceType: script
  ecmaFeatures:
    modules: false
rules:
  strict:
    - error
    - global
  require-jsdoc: 0
  comma-dangle:
    - error
    - never
  max-len:
    - error
    - 120
